*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white-color);
}

:root {
    scroll-behavior: smooth;

    font-size: 62.5%;

    /* Colors */
    --white-color: #F2F2F2;
    --primary-color: #BF2489;
    --secondary-color: #0396A6;
    --tertiary-color: #36BF98;
    --forth-color: #F26B1D;
}


/* elements */

ul{
    margin: 0;
}

.carousel-item img {
    height: 89vh;
    width: 100vw;
    object-fit: cover;
}
 
.carousel-item h2 {
    font-size: 6.2rem;
}


#container{
    margin-top: 10.1625rem;
    transition: all 300ms ease-in-out;
}